@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
    font-family: "Roboto";
}

.cabecalho{
    background-image: url(imagens/banner1.png);
    background-repeat: no-repeat;
    height: 301px;
    background-size: cover;
    text-align: center;
}

.logo{
    background-color: #fff;
    border-radius: 50%;
    width: 170px;
    height: 170px;
    margin-top: 32px;
    border: 2px;
}

.logo-texto1{
    font-family: "Lobster";
    font-weight: 400;
    font-size: 28px;
}

.logo-texto2{
    font-family: "Lobster";
    font-size: 44px;
    font-weight: 400;
}

.menu-principal{
    background-color: #F5AC72;
    padding-top: 19px;
    padding-bottom: 19px;
    text-align: center;
    color: #FFE8D6;
}

.item-menu{
    color: #FFE8D6;
    font-weight: 500;
    font-size: 18px;
}

.banner2{
    height: 450px;
    width: 100%;
}

.cardapio{
    font-family: "Lobster";
}