@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
    font-family: "Roboto";
}

.cabecalho{
    background-image: url(imagens/banner1.png);
    background-repeat: no-repeat;
    height: 301px;
    background-size: cover;
    text-align: center;
}

.logo{
    background-color: #fff;
    border-radius: 50%;
    width: 170px;
    height: 170px;
    margin-top: 32px;
    border: 2px;
}

.logo-texto1{
    font-family: "Lobster";
    font-weight: 400;
    font-size: 28px;
}

.logo-texto2{
    font-family: "Lobster";
    font-size: 44px;
    font-weight: 400;
}

.menu-principal{
    background-color: #F5AC72;
    padding-top: 19px;
    padding-bottom: 19px;
    text-align: center;
    color: #FFE8D6;
}

.item-menu{
    color: #FFE8D6;
    font-weight: 500;
    font-size: 18px;
}

.banner2{
    height: 450px;
    width: 100%;
}

.cardapio{
    font-family: "Lobster";
    font-size: 45px;
    color: #F8BD7F;
    width: 166px;
    padding-top: 41px;
    padding-bottom: 52px;
    margin-left: 652px;
    margin-right: 622px;
}

.sabores{
    list-style-type: disc;
    color: #6B705C;
    columns: 4;
    font-size: 18px;
    font-family: "Roboto";
    margin-left: 84px;
    margin-right: 52px;
    padding-bottom: 58px;
    line-height: 130%;
}

.fotos-bolo{
    color: #FFE8D6;
    font-family: "Lobster";
    font-size: 45px;
    padding-top: 52px;
    padding-bottom: 52px;
    margin-left: 679px;
    margin-right: 676px;

}

.fotos{
    background-color: #F5AC72;
}

.bolo-cenoura{
    width: 200px;
    height: 200px;
    margin-left: 308px;
    margin-right: 113px;
    padding-bottom: 52px;
}

.bolo-festa{
    width: 200px;
    height: 200px;
    margin-right: 90px;
    padding-bottom: 52px;
}

.bolo-casamento{
    width: 200px;
    height: 200px;
    margin-right: 329px;
    padding-bottom: 52px;
}

.contato{
    color: #CB997E;
    font-family: "Lobster";
    font-size: 45px;
    padding-top: 52px;
    padding-bottom: 21px;
    margin-left: 637px;
    margin-right: 668px;
    line-height: 75%;
}

.mapa{
    width: 990px;
    height: 363px;
    margin-left: 240px;
    margin-right: 210px;
    padding-bottom: 50px;
}

.linha{
    border-top: 5px solid #F8BD7F;
}

.bolos{
    font-family: "Lobster";
    font-size: 28px;
    padding-top: 29px;
    margin-left: 637px;
    margin-right: 705px;
}

.cida{
    font-family: "Lobster";
    font-size: 44px;
    padding-bottom: 21px;
    margin-left: 650px;
    margin-right: 705px;
}

.insta{
    width: 28px;
    height: 28px;
    padding-bottom: 33px;
    margin-left: 652px;
    margin-right: 760px;
}

.face{
   margin-left: 693px;
}